@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
body > header { /*configurando apariencia de las páginas*/
    background-color: black;
    width: 100%;
    text-align: center;
}

#index > header {
    background-color: unset;
}

#index {
    background-image: url(../img/home-hero.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-position:center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

main { /*configurando apariencia de las páginas*/
    margin: auto;
    max-width: 67%;
    font-size: 0.881rem;
    line-height: 1.3rem;
    margin-bottom: 3.3rem;
}

main > article > header > h1{ /*configurando apariencia de las páginas*/
     text-align: center;
     font-size: 2rem;
     margin-top: 3rem;
}

nav ul { /*configurando apariencia de las páginas*/
    list-style: none;
    padding: 0px;
    margin: 1vw;
    margin-top: 3vw;
    display: inline-flex;
    font-size: 1.2vw;
}

nav ul li {
    margin: 0.6rem;
}

#taller {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: -0.14rem;
    padding: 1rem;
}
#taller > a > img{
    width: 25px;
    margin-right: 0.8rem;
}

#headerPaginas >nav > ul{
    font-size: 0.9rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 3rem;
    margin-left: 3.6rem;
}
#subrayado {
    border-bottom: 2px solid;
    padding-bottom: 0.6rem;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#index main img {
    width: 4.4vw;
    margin-top: 9.7vw;
}
#index main h1 {
    font-size: 8.2vw;
    margin-top: 3.5vw;
    letter-spacing: -0.5vw;

}
#index main h4 {
    font-size: 2.2vw;
    margin-top: -1vw;
    letter-spacing: 0.35vw;
}


footer, main > h1,main > h4 {
    color: #FFFFFF;
}
#footerIndex nav ul li{
    font-size: 1vw;
}
#footerIndex nav{
    margin-bottom: -0.5vw;
}
#footerIndex {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 0.9vw;
    margin-bottom: 2vw;
}

#footer { /*footer principal de las páginas*/
    background-color: black;
    width: 100%;
    text-align: left;
    height: 68px;
    padding-left: 14rem;
    padding-bottom: 2.5rem;
}
#footer > nav > ul > li{
    font-size: 0.9rem;
    margin-top: -26px;
    padding-top: 0px;
    margin-right: 36px;
    margin-left: -20px;
    padding-left: 0px;
}

#footer > small {
    font-size: 0.7rem;
    margin: -7px;
}
article > footer { /*footer del article*/
    color: black;
    font-size: small;

}
article > footer > small > a {
    color: #942C0B;
    border-bottom: 1px dotted;
}

/*configurando apariencia de las páginas*/
main > article >header > figure {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-top: 2.5rem;
    margin-bottom: 2.7rem;
}

main > article >header > figure >iframe{
    width: 41.5rem;
    height: 23rem;
    border: none;
}

main > article >header >figure >figcaption {
    text-align: left;
    margin-top: -0.3rem;
    margin-left: 7rem;
    font-size: 0.6rem;
}

h2 {
    font-size: 1.4rem;
    padding-bottom: 6px;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid;
}
strong {
    font-style: none;
    font-weight: bold;
}
#cuadraditos > li {
    list-style:square;
    margin-bottom: 0.43rem;

}

section > dl > dt { /*lista con descripción*/
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1.21rem;
    margin-bottom: 5px;
}
section > dl > dt, dd {
    padding-left: 2.4rem;
}