@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}
body > header { /*configurando apariencia de las páginas*/
    background-color: black;
    width: 100%;
    text-align: center;
}

#index > header {
    background-color: unset;
}

#index {
    background-image: url(../img/home-hero.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-position:center top;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

main { /*configurando apariencia de las páginas*/
    margin: auto;
    width: 67%;
    max-width: 890px;
    font-size: 0.881rem;
    line-height: 1.3rem;
    margin-bottom: 3.3rem;
}

main > article > header > h2, #formulario > h2{ /*configurando apariencia de las páginas*/
     text-align: center;
     font-size: 2rem;
     margin-top: 3rem;
}

nav > ul { /*configurando apariencia de las páginas*/
    list-style: none;
    padding: 0px;
    margin: 1vw;
    margin-top: 3vw;
    display: inline-flex;
    font-size: 1.2vw;
}

nav > ul > li {
    margin: 0.6rem;
}

#taller {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: -0.14rem;
    padding: 1rem;
    margin: 0px;
}
#taller > a::before {
    content: url(/img/favicon-32x32.png) " ";
}

#headerPaginas >nav > ul{
    font-size: 0.9rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 3rem;
    margin-left: 3.6rem;
    text-transform: uppercase;
}
#subrayado {
    border-bottom: 2px solid;
    padding-bottom: 0.6rem;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover{
    color: #6BDEC8;
}
#taller > a:hover{
    color: #FFFFFF;
}

#index> main> img {
    width: 4.4vw;
    margin-top: 9.7vw;
}
#index > main > h1 {
    font-size: 8.2vw;
    margin-top: 3.5vw;
    letter-spacing: -0.5vw;

}
#index >main> h4 {
    font-size: 2.2vw;
    margin-top: -1vw;
    letter-spacing: 0.35vw;
}


footer, main > h1,main > h4 {
    color: #FFFFFF;
}
#footerIndex > nav > ul > li{
    font-size: 1vw;
}
#footerIndex > nav{
    margin-bottom: -0.5vw;
}
#footerIndex {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 0.9vw;
    margin-bottom: 2vw;
}

#footer { /*footer principal de las páginas*/
    background-color: black;
    width: 100%;
    text-align: left;
    height: 68px;
    padding-left: 17vw;
    padding-bottom: 2.5rem;
}
#footer > nav, #footer > p {
    max-width: 96rem;
    margin: auto;
}
#footer > nav > ul{
    margin: 4px;
    margin-left: -15px;
    
}
#footer > nav > ul > li{
    font-size: 0.9rem;
}

#footer > p > small {
    font-size: 0.7rem;
    margin-left: -5px;
}
article > footer { /*footer del article*/
    color: black;
    font-size: small;

}
.enlaceTexto {
    color: #942C0B;
    border-bottom: 1px dotted;
}
.enlaceTexto:hover{
    border-bottom: 1px solid;
    color: #942C0B;
}

/*configurando apariencia de las páginas*/
main > article >header > figure {
    text-align: center;
    padding: 0px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.7rem;
    width: 49.5vw;
    max-width: 665px;
}

main > article >header > figure >iframe{
    width: 49.5vw;
    max-width: 665px;
    height: 28vw;
    max-height: 376px;
    border: none;
}

main > article >header >figure >figcaption {
    text-align: left;
    margin-top: -0.3rem;
    margin-left: 0rem;
    font-size: 0.6rem;
}

h3{
    font-size: 1.4rem;
    padding-bottom: 6px;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid;
}
strong {
    font-weight: bold;
}
#cuadraditos > li {
    list-style:square;
    margin-bottom: 0.43rem;

}

section > dl > dt { /*lista con descripción*/
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1.21rem;
    margin-bottom: 5px;
}
section > dl > dt, dd {
    padding-left: 2.4rem;
}

/*Modificando cursos cerámica*/

#anyo {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
    margin-top: -2px;
}

#headerCursos > figure > img {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 50vw;
    max-width:665px;
}

#headerCursos > p > span{
    line-height: 2.4rem;
    font-weight: bold;
    font-size: 1.62rem;
}

#headerCursos > p:last-child{
    margin: auto;
    margin-top: -10px;
    width: 49.5vw;
    max-width: 665px;
}

/*Dando estilos a la tabla de cursos.html*/

table{
    margin: auto;
    margin-top: 25px;
    width: 100%;
    max-width: 890px;
    border-collapse: collapse;
}
tfoot> tr > td{
    text-align: left;
    font-weight:100;
    font-size: 0.65rem;
    border-bottom: 1px black solid;
    padding: 3px;
    padding-left: 7px;
}
thead > tr:first-child > th{
    font-weight: unset;
    font-size: 1.2rem;
    padding: 4px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
thead > tr:last-child > th{
    border-bottom: 1px black solid;
    border-collapse:separate;
    padding: 5px;
    text-align: left;
    font-weight: unset;
    font-size: 0.8rem;
}

tbody > tr > td {
    padding: 10px;
    padding-left: 7px;
    vertical-align: bottom;

}

tbody > tr > td:first-child{
    width: 260px;
    font-weight: bold;
    font-size: 1.1rem;
}

tbody > tr:nth-child(odd){
    background-color: #6BDEC8;
}

/*modificando inscripción*/

#formulario {
    display: flex;
    margin: auto;
    width: 56.5vw;
    max-width: 760px;
    flex-direction: column;
}
#formulario > p{
    margin: 0px;
    margin-left: 8px;
}

#formulario > form > fieldset {
    margin-top: 1rem;
}
form > fieldset > legend {
    margin-left: 15px;
}

form> fieldset:first-child > div {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "n a"
        "tn ta"
        "c t"
        "tc tt"
        "f cur"
        "tf tcur";
    grid-auto-flow: column;
}
.n {grid-area: n;}
.tn {grid-area: tn;}
.a {grid-area: a;}
.ta {grid-area: ta;}
.c {grid-area: c;}
.tc {grid-area: tc;}
.t {grid-area: t;}
.tt {grid-area: tt;}
.f {grid-area: f;}
.tf {grid-area: tf;}
.cur {grid-area: cur;}
.tcur {grid-area: tcur;}

form> fieldset:first-child > div > input{
    padding: 12px;
}
form> fieldset:first-child > div{
    margin: 20px;
    margin-bottom: 45px;
}

fieldset > legend {
    font-weight: bold;
    font-size: 1.2rem;
}

form > fieldset:nth-child(2n) > fieldset{
    margin: auto;
    margin-top: 2.5rem;
    height: 6rem;
    width: 50.5vw;
    max-width: 680px;
    display: grid;
}

form > fieldset:nth-child(2n) {
    display: flex;
    flex-direction: column;
}

form > fieldset:nth-child(2n) > fieldset {
    display: flex;
    flex-direction: column;
}

form > fieldset:nth-child(2n) > fieldset > label{
    margin: 6px;
    margin-left: -4px;
    padding-top: 2px;
}

#comentario {
    margin: 13px;

}

#comentarioPregunta {
    display:inline;
    margin: auto;
    margin-bottom: 34px;
    width: 51.7vw;
    max-width: 700px;
    height: 180px;
}
form > fieldset:nth-child(3n){
    height: 165px;
    width: 54.4vw;
    max-width: 731px;
}

form > fieldset:nth-child(3n) > div {
    display: flex;
    flex-direction: column;
    margin: 8px;
    margin-top: 12px;
}

form > fieldset:nth-child(3n) > div > label {
    padding-top: 13px;
}

form {
    display: flex;
    flex-direction: column;
}
input {
    height: 10.9px;
}

#enviar {
    background-color: #942C0B;
    color: #FFFFFF;
    border: solid;
    height: 3rem;
    width: 8.2rem;
    text-transform: uppercase;
    font-size: 0.87rem;
    margin-top: 10px;
}

#privacidad {
    margin-left: 0px;
    height: 11px;
}